<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testing.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testing">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".user_forgot" />
        <activity android:name=".DocSchedule" />
        <activity android:name=".My_Prescriptions" />
        <activity android:name=".AllSlots" />
        <activity android:name=".All_Prescriptions" />
        <activity android:name=".Add_Prescription" />
        <activity android:name=".Patient_Dashboard" />
        <activity android:name=".AllComments" />
        <activity android:name=".PatientDetails" />
        <activity android:name=".Display_Patients" />
        <activity android:name=".AcceptData" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Register_Activity" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".RunsOutReminder" />
    </application>

</manifest>